<!-- login.component.html -->
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row">
                        <!-- You can replace the src attribute with the path to your image -->
                        <img src="https://pbs.twimg.com/profile_images/443026586728546304/KzCuRTqx_400x400.png" class="logo">
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line ">
                        <!-- You can replace the src attribute with the path to your image -->
                        <img src="https://t3.ftcdn.net/jpg/06/74/41/94/240_F_674419449_BiEc4eQxSsxTy6ZaITZMOqsvUOd4LWKN.jpg" class="image" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row px-3">
                     
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        
                        <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address" [(ngModel)]="email">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password">
                    </div>
                    <div class="row px-3 mb-4">
                        <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center" (click)="login()">Login</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright © 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto">
                    <span class="fa fa-facebook mr-4 text-sm"></span>
                    <span class="fa fa-google-plus mr-4 text-sm"></span>
                    <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
                </div>
            </div>
        </div>
    </div>
</div>
