.gradient-custom-3 {
  
    /* background: #84fab0; */
   
    
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
   
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
  
    /* background: #84fab0; */
    
   
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
   
 
.body{
    /* Replace 'your-image.jpg' with the name of your image file */
    background-image: url('https://t3.ftcdn.net/jpg/06/26/20/84/240_F_626208487_XjlofoSji7xfztIhstRWtkvnyJIeEqUN.jpg'  );
    /* Add other styles as needed */
  }
  